@font-face {
    font-family: 'globotipo_textoblack';
    src: url('globotipotexto-black-webfont.woff2') format('woff2'),
         url('globotipotexto-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'globotipo_textobold';
    src: url('globotipotexto-bold-webfont.woff2') format('woff2'),
         url('globotipotexto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'globotipo_textoregular';
    src: url('globotipotexto-regular-webfont.woff2') format('woff2'),
         url('globotipotexto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'globotipo_textolight';
    src: url('globotipotexto-light-webfont.woff2') format('woff2'),
         url('globotipotexto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
 	font-family: 'GlobotipoTexto-Regular';
  	src:  url('GlobotipoTexto-Regular.eot?#iefix') format('embedded-opentype'),
  		  url('GlobotipoTexto-Regular.otf')  format('opentype'),
	      url('GlobotipoTexto-Regular.woff') format('woff'),
	      url('GlobotipoTexto-Regular.ttf')  format('truetype'),
	      url('GlobotipoTexto-Regular.svg#GlobotipoTexto-Regular') format('svg');
  	font-weight: normal;
  	font-style: normal;
}

@font-face {
  	font-family: 'GlobotipoTexto-Bold';
  	src:  url('GlobotipoTexto-Bold.eot?#iefix') format('embedded-opentype'),
  		  url('GlobotipoTexto-Bold.otf')  format('opentype'),
	      url('GlobotipoTexto-Bold.woff') format('woff'),
	      url('GlobotipoTexto-Bold.ttf')  format('truetype'),
	      url('GlobotipoTexto-Bold.svg#GlobotipoTexto-Bold') format('svg');
  	font-weight: normal;
  	font-style: normal;
}

@font-face {
  	font-family: 'Futura Std';
  	src:   url('FuturaStd-CondensedBold.woff') format('woff'),
	      url('FuturaStd-CondensedBold.woff2')  format('woff2');
  	font-weight: bold;
  	font-style: normal;
}

@font-face {
  	font-family: 'Globotipo Condensada Regular';
  	src:   url('GlobotipoCondensada-Regular.woff') format('woff'),
	      url('GlobotipoCondensada-Regular.woff2')  format('woff2');
  	font-weight: normal;
  	font-style: normal;
}

@font-face {
  	font-family: 'Globotipo Condensada Thin';
  	src:   url('GlobotipoCondensada-Thin.woff') format('woff'),
	      url('GlobotipoCondensada-Thin.woff2')  format('woff2');
  	font-weight: normal;
  	font-style: normal;
}
@font-face {
  	font-family: 'Futura-Condensed-Normal';
  	src:   url('Futura-Condensed-Normal.woff') format('woff'),
	      url('Futura-Condensed-Normal.woff2')  format('woff2');
  	font-weight: normal;
  	font-style: normal;
}

@font-face {
  	font-family: 'Futura-CondensedLight-Normal';
  	src:   url('Futura-CondensedLight-Normal.woff') format('woff'),
	      url('Futura-CondensedLight-Normal.woff2')  format('woff2');
  	font-weight: normal;
  	font-style: normal;
}
